    /* Estilos para ajustar el carrusel */
    #carouselExampleIndicators {
        max-width: 65%; /* Modifica el ancho máximo según tu preferencia */
        margin: 0 auto; /* Centra el carrusel */
    }

    /* Estilos para ajustar la barra lateral */
    #sidebar {
        width: 30%; /* Ajusta el ancho de la barra lateral según sea necesario */
        background-color: #3475b9; /* Cambia el color de fondo a un tono de gris azulado */
        color: rgb(76, 78, 190) 56); /* Cambia el color del texto a blanco */
    }

    #sidebar a {
        color: #000000; /* Cambia el color de los enlaces a blanco */
    }

 
    /* Estilos para los ítems de la barra lateral */
    .nav-item {
        margin-bottom: 5px;
    }

    .nav-link {
        display: block;
        padding: 10px;
        color: #ffffff;
        border-radius: 5px;
        transition: all 0.3s ease; /* Agrega transición suave */
    }

    /* Colores de fondo para cada opción */
    .nav-item:nth-child(1) .nav-link {
        background-color: #3498db; /* Color para la primera opción */
    }

    .nav-item:nth-child(2) .nav-link {
        background-color: #2ecc71; /* Color para la segunda opción */
    }

    .nav-item:nth-child(3) .nav-link {
        background-color: #e74c3c; /* Color para la tercera opción */
    }

    .nav-item:nth-child(4) .nav-link {
        background-color: #f1c40f; /* Color para la cuarta opción */
    }

    /* Efecto de agrandamiento al pasar el cursor */
    .nav-link:hover {
        transform: scale(1.1); /* Agrandar al pasar el cursor */
    }

    /* Estilos para los ítems de la barra lateral */
    .nav-item {
        margin-bottom: 10px; /* Separación entre ítems */
    }

    .nav-link {
        display: block;
        padding: 15px 10px; /* Ajuste del espacio interior */
        color: #ffffff;
        border-radius: 5px;
        transition: all 0.3s ease;
        margin-bottom: 5px; /* Espacio adicional entre ítems */
    }

    /* Colores de fondo para cada opción */
    .nav-item:nth-child(1) .nav-link {
        background-color: #3498db; /* Color para la primera opción */
    }

    .nav-item:nth-child(2) .nav-link {
        background-color: #2ecc71; /* Color para la segunda opción */
    }

    .nav-item:nth-child(3) .nav-link {
        background-color: #e74c3c; /* Color para la tercera opción */
    }

    .nav-item:nth-child(4) .nav-link {
        background-color: #f1c40f; /* Color para la cuarta opción */
    }

    /* Efecto de agrandamiento al pasar el cursor */
    .nav-link:hover {
        transform: scale(1.1);
    }

    /* Mover la barra lateral hacia abajo */
    #sidebar {
        margin-top: 30px; /* Espacio desde la parte superior */
    }


    /* Estilos para la barra lateral */
    #sidebar {
        width: 250px;
        background-color: #34495e;
        color: #ffffff;
        margin-left: 20px; /* Agregar margen izquierdo */
        padding-top: 20px; /* Añadir espacio superior */
    }

    .nav-item {
        margin-bottom: 10px;
    }

    .nav-link {
        display: block;
        padding: 15px 10px;
        color: #ffffff;
        border-radius: 5px;
        transition: all 0.3s ease;
        margin-bottom: 5px;
    }

    /* Colores de fondo para cada opción */
    .nav-item:nth-child(1) .nav-link {
        background-color: #3498db;
    }

    .nav-item:nth-child(2) .nav-link {
        background-color: #2ecc71;
    }

    .nav-item:nth-child(3) .nav-link {
        background-color: #e74c3c;
    }

    .nav-item:nth-child(4) .nav-link {
        background-color: #f1c40f;
    }

    /* Efecto de agrandamiento al pasar el cursor */
    .nav-link:hover {
        transform: scale(1.1);
    }

    /* Estilos para la barra lateral */
    #sidebar {
        width: 300px; /* Ampliar el ancho de la barra lateral */
        background-color: #34495e;
        color: #ffffff;
        margin-left: 20px;
        padding-top: 20px;
    }

    /* Resto de estilos... */
    /* ... */


    /* Estilos para la barra lateral */
    #sidebar {
        width: 300px;
        background-color: #2c3e50; /* Cambiar a un tono más oscuro de gris */
        color: #ffffff;
        margin-left: 20px;
        padding-top: 20px;
    }

    /* Resto de estilos... */
    /* ... */
   
    /* Estilos para ajustar el carrusel */
    #carouselExampleIndicators .carousel-inner {
        max-width: 800px; /* Ajustar el ancho máximo del carrusel */
        margin: 0 auto; /* Centrar el carrusel en la página */
    }

    /* Resto de estilos... */
    /* ... */

    /* Estilos para el fondo del index */
    body {
        background-color: #2052bd; /* Amarillo */
    }

    /* Estilos para la barra lateral */
    #sidebar {
        width: 300px;
        background-color: #2c3e50;
        color: #ffffff;
        margin-left: 20px;
        padding-top: 20px;
        padding-left: 20px; /* Agrega padding para el contenido interno */
        padding-right: 20px; /* Agrega padding para el contenido interno */
        border-radius: 0 10px 10px 0; /* Agrega un radio al borde derecho */
    }

    /* Estilos para las opciones */
    .nav-item {
        margin-bottom: 10px;
    }

    .nav-link {
        display: block;
        padding: 15px 10px;
        color: #ffffff;
        border-radius: 5px;
        transition: all 0.3s ease;
        margin-bottom: 5px;
        margin-right: 10px; /* Compensa el padding extra de la barra lateral */
        margin-left:10px;
    }

    /* Resto de estilos... */
    /* ... */
   
    /* Estilos para el fondo del body */
    body {
        /*background-color: #8e44ad; Morado */
        background-image: url('img/fondo.jpg'); /* URL de la imagen de fondo */
    }

    /* Estilos para el carrusel con efecto de sombra */
    #carouselExampleIndicators {
        max-width: 750px;
        margin: 0 auto;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75); /* Propiedad de sombra */
    }

    /* Resto de estilos... */
    /* ... */

    /* Estilos para el botón de cerrar sesión */
    .nav-link {
        display: flex;
        align-items: center;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .nav-link i {
        margin-right: 10px;
    }

    .nav-link:hover {
        background-color: #34495e;
        border-radius: 5px;
    }

    /* Estilos para el login */

    #login-body {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('img/imagen_login_.jpg'); /* URL de la imagen de fondo */
      background-size: cover;
      background-position: center;
    }
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
      background-color: rgba(255, 255, 255, 0.8); /* Color de fondo del formulario con transparencia */
      border-radius: 8px; /* Bordes redondeados para el formulario */
      backdrop-filter: blur(10px); /* Efecto de desenfoque del fondo (puede requerir prefijos de navegador para compatibilidad) */
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin input[type="text"],
    .form-signin input[type="password"] {
      margin-bottom: 10px;
    }
    .form-signin button {
      margin-top: 10px;
      font-size: 18px;
      padding: 10px;
    }
    /* Estilos para centrar el título */
    .center-title {
      text-align: center;
    }

    .center-button {
        display: flex;
        justify-content: center;
      }
 
    /* Estilo adicional para el contenedor del formulario */
    .form-container {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 20px;
        background-color: #ccc;
    }  








