{% extends 'plantilla.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="form-container">
        <form method="post" action="{% url 'editar_profesor' profesor_id=profesor.identificacion %}" enctype="multipart/form-data">
            <h2>Editar Profesor</h2>
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_identificacion" class="form-label">Identificación</label>
                <input type="text" name="identificacion" value="{{ profesor.identificacion }}" class="form-control" id="id_identificacion" required>
            </div>
            <div class="mb-3">
                <label for="id_nombre" class="form-label">Nombre</label>
                <input type="text" name="nombre" value="{{ profesor.nombre }}" class="form-control" id="id_nombre" required>
            </div>
            <div class="mb-3">
                <label for="id_apellido" class="form-label">Apellido</label>
                <input type="text" name="apellido" value="{{ profesor.apellido }}" class="form-control" id="id_apellido" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
</div>
{% endblock %}